.container{
    width:250px;
    height:fit-content;
    border:6px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #e7b9b9 ;
    color:black;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    width:fit-content;
    border: none;
    font-size: 14px;
    margin:3px;
    padding: 4px;
}
.submit-btn4{
    /* background-color: #1773EA; */
    background-color:rgb(190, 95, 190);
    border: none;
    border-radius: 3px;
    /* color: white; */
    font-weight: bolder;
    color:white;
    font-style: italic;
    padding: 5px 10px;
   width:80%;
    cursor: pointer;
    display:block;
    margin:auto;

    height:29px;
    margin-bottom:12px;
}